<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form </title>
</head>
<body>
    <form>
        <div>
        <label>Username: </label>
        <input type="text" name="Username" placeholder="Enter first name">
        <label>Password: </label>
        <input type="password" name="Password" placeholder="Enter Password">
        </div>
        <div>
            Choose color:
            <input type="radio" name="select" value="red">Red
            <input type="radio" name="select" value="green">Green
            <input type="radio" name="select" value="yellow">Yellow
        </div>
        <div>
            <input name="country" list="countries" placeholder="Country">
            <datalist id="countries">

                <option value="Afganistan">
                <option value="Austria">
                <option value="India">
                <option value="Afan">
                <option value="Afstan">
                <option value="Gnistan">
                <option value="Fiza">
                <option value="Laut">
                <option value="BHU">
                <option value="DU">
                <option value="DDU">
                <option value="MMMUT">
                <option value="CSJM">



            </datalist>



        </div>
    </form>
</body>
</html>